<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Fitness a Priority with FitLog</title>

    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>

<div th:replace="fragments/header"/>

<main>

    <div class="column">

        <h2>Make Fitness a Priority with FitLog</h2>

        <ul>
            <li><b>Workout tracking:</b> Users can log their workouts, including exercise type, duration, and intensity.</li>
            <li><b>Personalized workout plans:</b> FitLog creates customized workout plans based on users' fitness goals, preferences, and fitness level.</li>
            <li><b>Nutrition tracking:</b> Users can track their food intake and monitor their calorie and macronutrient intake.</li>
            <li><b>Progress tracking:</b> FitLog provides users with detailed analytics of their progress over time, including charts, graphs, and metrics.</li>
            <li><b>Social community:</b> FitLog may have a social community feature that allows users to connect with other fitness enthusiasts, share progress, and provide support.</li>
            <li><b>Goal setting:</b> Users can set fitness goals and receive personalized recommendations and progress tracking towards achieving those goals.</li>
            <li><b>Expert advice:</b> FitLog may offer advice and support from fitness experts, nutritionists, or personal trainers to help users achieve their goals.</li>
            <li><b>Integration with wearables:</b> FitLog may integrate with fitness trackers or smartwatches to automatically log workouts and track progress.</li>
            <li><b>Mobile app:</b> FitLog may have a mobile app that users can download to track their workouts and progress on-the-go.</li>
        </ul>


    </div>

</main>

<div th:replace="fragments/footer"/>

</body>
</html>