<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>

    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>

<div th:replace="fragments/header"/>

<main>

    <div class="column">

        <h2>Passionate Fitness Enthusiasts Making a Difference</h2>

        <p>
            At FitLog, our team is made up of passionate fitness enthusiasts, expert trainers, and skilled developers
            who are dedicated to helping people achieve their fitness goals. We all share a common vision of making
            fitness accessible and achievable for everyone, regardless of their background, experience, or resources.
        </p>


        <p>
            Our journey began with a simple idea - to create a better way for people to track their workouts and stay
            motivated. As fitness enthusiasts ourselves, we found that existing tracking apps were often too complex,
            time-consuming, or simply lacked the features we needed to stay on track.
        </p>


        <p>
            So, we decided to take matters into our own hands and create FitLog, a comprehensive fitness tracking
            solution that makes it easy for anyone to track their progress and stay motivated. We spent countless hours
            developing and refining our app, working closely with trainers, nutritionists, and fitness experts to ensure
            that our platform was effective, accurate, and easy to use.
        </p>


        <p>
            Over time, FitLog has grown into much more than just a workout tracking app. We have expanded our services
            to include personalized workout plans, nutrition tracking, and a supportive community of fitness enthusiasts
            who share their progress, tips, and motivation.
        </p>


        <p>
            For us, FitLog is more than just a business - it's a passion project that allows us to combine our love for
            fitness with our desire to help others lead healthier, happier lives. We are proud of what we have
            accomplished so far, and we are excited about the future of FitLog and the impact we can make on the world
            of fitness and wellness.
        </p>


    </div>

</main>

<div th:replace="fragments/footer"/>

</body>
</html>