<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User login</title>

    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>

<div th:replace="fragments/header"/>

<main>

    <div class="column">


        <div sec:authorize="isAuthenticated()" class="column login-status">
            <form action="/logout" method="post">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <p>
                    Logged in as:
                    <b sec:authentication="name"></b>
                    <input type="submit" value="Logout" class="btn delete-btn">
                </p>

            </form>
        </div>


        <div sec:authorize="!isAuthenticated()" class="column login-status">
            <p><b>Not logged in</b> | <i><a href="/signin">Click here</a> Sign up or login </i> </p>
        </div>


        <p>
            Welcome to FitLog, the ultimate fitness tracking solution for health enthusiasts of all levels. With FitLog,
            you can easily save and track all of your workouts in one convenient location. Whether you're a seasoned
            athlete or just starting out on your fitness journey, FitLog has everything you need to stay on track and
            reach your goals.
        </p>

        <p style="text-align: center;">
            <a href="/features">Features</a> |
            <a href="/history">History</a> |
            <a href="/future">Future</a>
        </p>

        <p>
            With our intuitive mobile app and web platform, you can easily log your workouts, track your progress, and
            stay motivated. Our app allows you to record everything from cardio to weightlifting, and our advanced
            analytics provide you with detailed insights into your performance and progress over time.
        </p>

        <p>
            At FitLog, we understand that every fitness journey is unique. That's why we offer personalized workout
            plans and recommendations based on your fitness goals and preferences. Our expert trainers and nutritionists
            are here to support you every step of the way, whether you're looking to lose weight, build muscle, or just
            stay in shape.
        </p>

        <p>
            Join the FitLog community today and start achieving your fitness goals like never before.
        </p>
    </div>






</main>

<div th:replace="fragments/footer"/>

</body>
</html>