<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workouts</title>

  <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>

<div th:replace="fragments/header"/>

<main>

  <div class="solo-item">

    <form th:action="@{/workouts/new}" method="post">

      <input type="text" id="name" name="name" placeholder="Name"> <br>

      <textarea id="description" name="description" placeholder="Description"></textarea><br>

      <button class="btn" type="submit">Save</button>

    </form>

  </div>

</main>

<div th:replace="fragments/footer"/>

</body>
</html>